@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap');

*{
font-family: calibri;    
text-align: center;
}

body{
background-image: url(https://images.unsplash.com/photo-1528402772935-4134bc18b474?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
background-repeat: no-repeat;
background-size: cover;
}

#campo{
    min-height: 500px;
    max-height: 800px;
    width: 80%;
    margin-right: 10px;
    margin-left: 10px;
    background: rgba( 0, 0, 0, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 50.0px );
border-radius: 10px;
}


.title{
font-size: 400%;
margin-top: 20px;
font-family: 'STIX Two Text', calibri;
color: white;
text-shadow: 2px 2px 2px black;
}

.subtitle{
font-size: 100%;
margin-bottom: 20px;
color: white;
text-shadow: 1px 1px 1px black;
}

.btn{
margin-right: 5px;    
margin-bottom: 8px;
}

.inpF{
border-radius: 5px;
background-color: rgb(216, 216, 216);
border: 0;
color: black;
font-size:100%;
width: 40%;
border-color: white;
}

.p-style{
font-size:130%;
font-weight: bold;
margin-top: 1%;
margin-bottom: 1%;
color: white;
text-shadow: 1px 1px 1px black;
}

.deleter{
cursor: pointer; 
padding: 1%;
border-radius: 5px;
background-color: rgb(247, 86, 86)
}

.saved{
    font-size: 180%;
    margin-top: 2%;
    margin-bottom:20px;
    font-family: 'STIX Two Text', calibri;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.to-dos2{
  margin-top: 20px;  
}

.campo2{
    display: inline-block;
    min-height: 500px;
    max-height: 800px;
    width: 100%;
    background-size: 400% 300%;
    margin-bottom: 2%;
    background: rgba( 0, 0, 0, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 50.0px );
border-radius: 10px;
}

.me{
max-width: 18%;   
margin-bottom: 1%;
}




